node_modules

#Hardhat files
cache
/.idea/
/typechain/
/dist/
/yarn-error.log
/deployments/dev/
/deployments/localhost/
/deployments/proxy/
/typechain-types/
/reports/gas-used-output.color
/coverage
/coverage.json
/.DS_Store
.DS_Store
/contracts/dist/
/contracts/types/

artifacts/*
!artifacts/contracts
artifacts/contracts/*
!artifacts/contracts/core
artifacts/contracts/core/*
!artifacts/contracts/core/EntryPointGasSimulations.sol
artifacts/contracts/core/EntryPointGasSimulations.sol/*
!artifacts/contracts/core/EntryPointGasSimulations.sol/EntryPointGasSimulations.json
